rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function user() { return request.auth != null ? get(/databases/(default)/documents/users/$(request.auth.uid)).data : null; }
    function isAdmin() { return user() != null && user().role == 'admin'; }
    function isFinance() { return user() != null && user().role == 'finance'; }

    match /templates/{file=**} {
      allow read: if isAdmin();
      allow write: if isAdmin();
    }
    match /payroll/{file=**} {
      allow write: if isAdmin();
      allow read: if isAdmin() || isFinance();
    }
  }
}


